{
	"parserOptions": {
		"project": "./types/tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/triple-slash-reference": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/ban-types": "off"
	}
}
