name: Publish

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
      revision:
        required: true
        type: number

jobs:
  publish:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
        with:
          token: ${{ secrets.pat }}

      - name: Install NPM Dependencies
        uses: bahmutov/npm-install@v1.7.4

      - name: Publish
        run: |
          git config user.name "GitHub Actions"
          git config user.email "noreply@github.com"
          echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > .npmrc
          npm version ${{ inputs.version }}-types.${{ inputs.revision }}
          npm publish
          npm dist-tag add @rbxts/compiler-types@${{ inputs.version }}-types.${{ inputs.revision }} compiler-${{ inputs.version }}
          git push
          git push --tags
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
